  <div class="container">

    <!--スライドショー-->
  <body class="bg-light">
    <div class="keyvisual">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "d63957-1-479948-0.jpg", class:"d-block w-100"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "d63957-1-881455-1.jpg", class:"d-block w-100"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "d63957-1-166171-2.jpg", class:"d-block w-100"%>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

<!--お客様の声-->
      <div id="Flex">
        <h2 class="text-center py-3">BRAND CONCEPT</h2>
      </div>
      <div class="d-flex flex-wrap-reverse justify-content-center">
        <div class="col-md-6 col-12 p-0 align-self-center h3 p-4">
        PLAY YOUR OWN
        newneu. brings a playful spirit and inspiration to your life. Our unlimited creative possibility products were born from the perceptional change toward what a so-called “bag” in the market actually is. These ideas are turned into forms by teaming up with the japanese craftsmanship. Here we proudly deliver the quality and originality of “Tokyo-creation” to the world.        </div>
        <div class="col-md-6 col-12 p-0 align-self-center">
          <<%= image_tag "shop.jpg", class:"img-fluid"%>
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-center">
        <div class="col-md-6 col-12 p-0 align-self-center">
          <%= image_tag "bag.jpg" %>
        </div>
        <div class="col-md-6 col-12 p-0 align-self-center h3 p-4">
          デザインの一部を自分の思い通りに動かしオリジナルを作り上げる。newneu.は手にした人の個性と可能性を引き出すミニマルなプラットフォーム。

          newneu. のアイテムはベルクロのフック＆ループの仕組みで自在にカスタマイズ出来ます。 ベースのアイテムを選び、あなたのアイデアや想像力で思いのままにアートピースやポケットを貼る事により、 世界で一つだけのオリジナルデザインが完成します。
        </div>
      </div>

    <!--カード-->
      <div id="card">
        <h2 class="text-center py-3">SNS</h2>
      </div>
      <div class="row">
        <div class="col-md-4 col-12">
          <div class="card">
            <%= image_tag "youtube.png", class:"card-img-top" %>
            <div class="card-body">
              <h5 class="card-title">newneu.CHANNEL</h5>
              <p class="card-text">
                newneu.ブランドディレクター兼デザイナーの鷲澤心介が、様々な分野で活躍しているゲストを迎え、影響を受けたファッションや音楽、アートなどのカルチャーをテーマに、ゲストの「こだわり」を紐解き、二人の未来のクリエイションを共有するトークプログラムです。              </p>
              <a href="https://www.youtube.com/channel/UCt4m4eQX_rRopqWAvIjcCnQ" class="btn btn-primary">YouTubeで見る</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card">
            <%= image_tag "instagram.png", class:"card-img-top" %>
            <div class="card-body">
              <h5 class="card-title">newneu.news</h5>
              <p class="card-text">
                スタイリングサンプルを中心にnewneu.の最新情報をアップしてゆきます。
              </p>
              <a href="https://www.instagram.com/newneu.news/?hl=ja" class="btn btn-primary">>Instagramて見る</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card">
            <%= image_tag "twitter.png", class:"card-img-top" %>
            <div class="card-body">
              <h5 class="card-title">newneu. STORE TOKYO</h5>
              <p class="card-text">
                newneu. STORE OFFICIAL Twitter. バッグ、アートピースの最新情報、制作秘話、周囲のアーティスト、関連イベントをスタッフ皆で発信していきます。ご質問などありましたら、こちら宛につぶやいてください。
               </p>
              <a href="https://twitter.com/newneu_store" class="btn btn-primary">Twitterで見る</a>
            </div>
          </div>
        </div>
      </div>

    <footer class="bg-white">
      
          <div class="col-md-4 col-12 text-center">
              <div id="designerprofile">
                <h2 class="text-center py-3">DESIGNER PROFILE</h2>
              </div>
1977 Born in Tokyo, Japan<br>
Shinsuke Washizawa is CEO of the succeeding 100 years construction company, also a carpenter.<br>
2003 He established Corroche co.,ltd and opened a shop SAL at Koenji, Tokyo.<br>
2007 He launched <b>newneu.</b> ＜Monolith Line＞ was awarded the Good Design Award by Japan institute of Design Promotion.<br>
2008 October, <b>newneu.</b> was exhibited in the WA: The Spirit of Harmony and Japanese Design Today Paris (sponsored by Japan Foundation)<br>
2011 <b>newneu.</b>’ s unique structure obtained a patent<br>
2012 <b>newneu.</b> held the first exhibition.<br>
2013 <b>newneu.</b>co.,ltd was established.<br>
2014 We participated in special exhibition "Le Japon Rive Gauche" at Le Bon Marché Paris.<br>
2015 he launched diffusion line “ne. by <b>newneu.</b>” which started license businesses.<br>
2016 <b>newneu.</b> was exhibited at Premiere class in Paris and MICAM in MILAN.<br>
2016 <b>newneu.</b> open a retail store in Daikanyama.
              <div class="mx-5">
                <img class="img-fluid rounded-circle" src="/assets/washi.jpg" alt="">
              </div>
<p>鷲澤 心介</p>
1977 年東京都生まれ。現職の大工でもある。<br>
2003 年 Corroche co.,ltd を設立し、高円寺にセレクトショップSAL をオープン。<br>
2007 年 『 <b>newneu.</b>』を立ち上げる。<br>
同ブランドの＜Monolith Line＞が日本デザイン振興会によるGOOD DESIGN AWARD 2007 を受賞。<br>
2008 年 パリを皮切りに欧州で開催された「WA－現代日本のデザインと調和の精神」展（主催：国際交流基金）に同ブランドのメッセンジャーバッグ ” MONO-ME 01” が選出される。<br>
2011 年 ニューニューのシステムによる特許を取得。<br>
sacai. とのコラボレーションラインを発表。<br>
2012 年 ファーストエキシビションをスタート。<br>
2013 年 株式会社ニューニューを設立。<br>
2014 年 パリ、ボンマルシェにて開催された『Le Japon Rive Gauche』展に出展。<br>
2015 年 ディフュージョンライン“ne. by <b>newneu.</b>” を発表し、ライセンスビジネスの展開をスタート。<br>
2016 年 プルミエール・クラス/ パリ、MICAM/ ミラノに出展。<br>
2016 年 代官山に<b>newneu.</b> の直営店をオープン。          <div class="col-md-4 col-12">
      </div>
</div>
      
<!--  -->
	<div class="part clearfix mt140">
		<div class="w2">
			<div class="data caption">PRESS CONTACT<a id="press" name="press"></a></div>
		</div>
		<div class="w2">
			<div class="data eng">
<b>Steady Study Ltd.</b><br>
3F IL CENTRO 5-46-16 JINGUUMAE<br>
SHIBUYA-KU TOKYO JAPAN 150-0001<br>
TEL : +81-3-5469-7110<br>
Fax : +81-3-5469-7112<br>
WEB: <a href="steady-study.co.jp" target="_blank">steady-study.co.jp</a><br>
MAIL: contact<span class="at"></span>steady-study.co.jp<br>
<br>
			</div>
		</div>
		<div class="w2">
			<div class="data">
<b>株式会社 ステディ スタディ</b><br>
〒150-0001<br>
東京都渋谷区神宮前5-46-16<br>イルチェントロ3F<br>
Tel: 03-5469-7110<br>
Fax: 03-5469-7112<br>
WEB: <a href="steady-study.co.jp" target="_blank">steady-study.co.jp</a><br>
MAIL: contact<span class="at"></span>steady-study.co.jp<br>
			</div>
		</div>
		<div class="w2">
			<div class="data"></div>
		</div>
	</div><!-- /part -->

  	<!--  -->
	<div class="part clearfix mt140">
		<div class="w2">
			<div class="data caption">STORE<a id="store" name="store"></a></div>
		</div>
		<div class="w2">
			<div class="data">
<b>newneu.TOKYO</b><br>
〒150-0033<br>
東京都渋谷区猿楽町23-5<br>代官山ネクストワンビル3F<br>
TEL : 03-6455-3474<br>
OPEN : WEEKDAY 12:00 CLOSE : 20:00<br>
WEEKEND & HOLIDAY 11:30 CLOSE : 20:00<br>
<br>
<b>ONLINE STORE</b><br>
newneu.web store : <a href="http://store.newneu.jp/" target="_blank">http://store.newneu.jp/</a>
			</div>
		</div>
		<div class="w2">
			<!-- <div class="data"><img src="common/img/ntokyo2.png" width="220" height="60" alt="newneu.TOKYO"></div>
		</div> -->
	</div><!-- /part -->

    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  </body>
